/* iPad */
@media only screen and (max-width: 1024px) {

    /* nav section */
    .blog-header-logo {
        font-size: 20px;
    }
    .logo-div {
        top: 9px;
    }
    sup {
        top: -10px;
        font-size: 10px;
    }

}

/* iPhone */
@media only screen and (max-width: 767px) {

    /* nav section */
    .blog-header-logo {
        font-size: 18px;
    }
    .logo-div {
        top: 10px;
    }
    sup {
        top: -9px;
        font-size: 8px;
    }
    
}